.Soccerle{
    text-align: center;
    width: 100%;
    margin-top: 30px;
    


}


.dinput {
    display: flex;

    margin: 150px 40px 40px 40px;

    width: 100%;
    
    justify-content: center;
}

.show-box{
    border: 1px solid black;
    width: 200px;
    height: 40px;
    margin: 30px;
}

.input-area {
    margin-left: 30px;
    
}

#club-bar{
    width: 195px;
}
#country-bar{
    width: 195px;
}#position-bar{
    width: 195px;
}


.player-input{
    display: inline-flex;
    margin-left: 42.3%;
}

#guesses-box{
    width: 20px;
    height: 19px;
    border: 1px solid black;
    margin-left: 20px;
}

#guess-num{
    width: 10px;
    height: 10px;
    margin-left: 6px;
    margin-top: 1px;;
}
    
