.Soccerle{
    text-align: center;
    width: 100%;
    margin-top: 30px;
    


}


.dinput {
    display: flex;

    margin: 150px 40px 40px 40px;

    width: 100%;
    
    justify-content: center;
}

.show-box{
    border: 1px solid black;
    width: 200px;
    height: 40px;
    margin: 30px;
    background-color: white;
}

.input-area {
    margin-left: 30px;
    
}

#club-bar{
    width: 195px;
}
#country-bar{
    width: 195px;
}#position-bar{
    width: 195px;
}


.player-input{
    display: inline-flex;
    margin-left: 42.3%;
}

#guesses-box{
    width: 20px;
    height: 19px;
    border: 1px solid black;
    margin-left: 20px;
}

#guess-num{
    width: 10px;
    height: 10px;
    margin-left: 6px;
    margin-top: 1px;;
}
    

#winnerPage{
    background-color: green;
    position: absolute;
    height: 800px;
    width: 850px;
    top: 10%;
    left: 30%;
    border: 1px solid black;
    border-radius: 4%;
}

.hidden{
    visibility: hidden;
}

.clubox {
    background-color: white;
}

#questionpage {
    position: absolute;
    height: 180px;
    width: 100%;
    right: 0px;
    top: 0px;
    background-color: rgb(214, 203, 203);
    font-size: 18px;
}

#helpbutton{
    position: absolute;
    height: 80px;
    width: 80px;
    right: 10%;
    top: 10%;
}

#removepage {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 20px;
    top: 20px;
}

#endgame-page{
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    margin: 10px;
    top: 0;
    color: white;
    font-size: 40px;
    text-align: center;
}

.clubtext {
    text-align: center;
    font-size: 15px;
    font-weight: 600;

}

.ratingtext {
    text-align: center;
    font-size: 15px;
    font-weight: 600;


}

.countrytext {
    text-align: center;
    font-size: 15px;
    font-weight: 600;

}